
smaller/telefonkonyv.json
smaller/data2.json
.vscode/settings.json
PriceChecker/price.txt
smaller/attribute_is_none.py
PriceChecker/price.txt
smaller/chromedriver.exe
PriceChecker/price.txt
smaller/Munkaido-install/Munkaidonyilvantarto_telepito_v1.0.exe
smaller/Munkaido/.idea/inspectionProfiles/profiles_settings.xml
smaller/Munkaido/.idea/inspectionProfiles/Project_Default.xml
smaller/Munkaido/.idea/misc.xml
smaller/Munkaido/.idea/modules.xml
smaller/Munkaido/.idea/Munkaido.iml
smaller/Munkaido/.idea/vcs.xml
smaller/Munkaido/.idea/workspace.xml
smaller/Munkaido/__pycache__/appendname.cpython-38.pyc
smaller/Munkaido/__pycache__/request.cpython-38.pyc
smaller/Munkaido/HU-Licence.txt
smaller/Munkaido/HU-message.isl
smaller/Munkaido/logo.ico
smaller/Munkaido/python-3.8.6rc1-amd64.exe
smaller/munkaidonyilvantarto.iss
smaller/ncore_downloader.py
smaller/__pycache__/recorder.cpython-38.pyc
